<style type="text/css">
    .col-xs-12 {
        margin-top: 8px;
        min-height: 20px;
    }
</style>
<div class="row top10 bottom10">
    <div class="col-sm-12">
        <a href="#/" class="btn btn-default">
            <span class="glyphicon glyphicon-home"></span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-xs-12">

        <div class="panel panel-primary">
            <div class="panel-heading">
                基本信息
            </div>
            <div class="panel-body">
                <div class="row">
                    <!-- Registrater Information -->
                    <div class="col-sm-3 col-xs-12 header-sub">
                        报名日期
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        {{main.reg.RegistrateDate | date:constant.ngDateFormat}}
                    </div>

                    <div class="col-sm-3 col-xs-12 header-sub">
                        姓名
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        {{main.reg.StudentName}}
                    </div>

                    <div class="col-sm-3 col-xs-12 header-sub">
                        性别
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        {{main.reg.Gender ? '男' : '女'}}
                    </div>

                    <div class="col-sm-3 col-xs-12 header-sub">
                        电话
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        {{main.reg.Phone}}
                    </div>

                    <div class="col-sm-3 col-xs-12 header-sub">
                        备用电话
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        {{main.reg.Phone2}}
                    </div>

                    <div class="col-sm-3 col-xs-12 header-sub">
                        户籍
                    </div>
                    <div class="col-sm-9 col-xs-12 ellipsis">
                        {{main.reg.HomeAddress}}
                    </div>
                    <div class="col-sm-3 col-xs-12 header-sub">
                        住址
                    </div>
                    <div class="col-sm-9 col-xs-12 ellipsis">
                        {{main.reg.LiveAddress}}
                    </div>



                    <!-- Registration Information-->
                    <div class="col-sm-3 col-xs-12 header-sub">
                        票据编号
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        {{main.reg.ReceiptNumber}}
                    </div>
                    <div class="col-sm-3 col-xs-12 header-sub">
                        费用
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        {{main.reg.Price}}
                    </div>

                    <div class="col-sm-3 col-xs-12 header-sub">
                        收款人
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        {{main.reg.Payee}}
                    </div>

                    <div class="col-sm-3 col-xs-12 header-sub">
                        地址
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        {{main.reg.RegistrationAddress}}
                    </div>

                    <div class="col-sm-3 col-xs-12 header-sub">
                        备注
                    </div>
                    <div class="col-sm-9 col-xs-12 ellipsis">
                        {{main.reg.Note}}
                    </div>

                    <div class="col-sm-3 col-xs-12 header-sub">
                        课程类别
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        {{main.reg.CourseCategoryName}}
                    </div>

                    <div class="col-sm-3 col-xs-12 header-sub">
                        所报课程
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        {{main.reg.CourseName}}
                    </div>

                </div>

            </div>
        </div>

    </div>
    <div class="col-sm-6 col-xs-12">

            <div class="panel panel-info">
                <div class="panel-heading">所报院校</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3 col-xs-12 header-sub">
                            所报院校
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            {{main.reg.RegistrateCollege}}
                        </div>

                        <div class="col-sm-3 col-xs-12 header-sub">
                            学历类别
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            {{main.reg.EducationDegree}}
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">所在院校</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3 col-xs-12 header-sub">
                            所在院校
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            {{main.reg.CurrentCollege}}
                        </div>
                        <div class="col-sm-3 col-xs-12 header-sub">
                            所在年级
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            {{main.reg.CurrentGrade}}
                        </div>
                    </div>
                </div>
            </div>

    </div>

</div>

<div class="row">
    <div class="col-sm-12"></div>
</div>

