<style type="text/css">
    input.ng-dirty.ng-invalid{border: 1px solid red;}
</style>

<div class="row top10 bottom10">
    <div class="col-sm-12">
        <a href="#/" class="btn btn-default glyphicon glyphicon-home"></a>
    </div>
</div>
<form class="new-form" role="form" name="NewForm">
    <div class="row">
        <div class="col-sm-6 col-xs-12">

            <div class="panel panel-primary">
                <div class="panel-heading">
                    基本信息
                </div>
                <div class="panel-body">
                    <div class="row">
                        <!-- Registrater Information -->
                        <div class="col-sm-3 col-xs-12 header-sub">
                            报名日期
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <input type="text"
                                   class="form-control"
                                   select-date
                                   date-format="{{constant.uiDateFormat}}"
                                   ng-model="main.reg.RegistrateDate"
                                   required />
                        </div>

                        <div class="col-sm-3 col-xs-12 header-sub">
                            姓名
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <input type="text" value="" class="form-control" ng-model="main.reg.StudentName" required />
                        </div>

                        <div class="col-sm-3 col-xs-12 header-sub">
                            性别
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <select class="form-control" ng-model="main.reg.Gender">
                                <option value="true">男</option>
                                <option value="false">女</option>
                            </select>
                        </div>

                        <div class="col-sm-3 col-xs-12 header-sub">
                            电话
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <input type="text" value="" class="form-control" ng-model="main.reg.Phone" required />
                        </div>

                        <div class="col-sm-3 col-xs-12 header-sub">
                            备用电话
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <input type="text" value="" class="form-control" ng-model="main.reg.Phone2" />
                        </div>
                        
                        <div class="col-sm-3 col-xs-12 header-sub">
                            户籍
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <input type="text" value="" class="form-control" ng-model="main.reg.HomeAddress" required />
                        </div>
                        <div class="col-sm-3 col-xs-12 header-sub">
                            住址
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <input type="text" value="" class="form-control" ng-model="main.reg.LiveAddress" required />
                        </div>



                        <!-- Registration Information-->
                        <div class="col-sm-3 col-xs-12 header-sub">
                            票据编号
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <input type="text" value="" class="form-control" ng-model="main.reg.ReceiptNumber" required />
                        </div>
                        <div class="col-sm-3 col-xs-12 header-sub">
                            费用
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <input type="number" value="" class="form-control" ng-model="main.reg.Price" required />
                        </div>

                        <div class="col-sm-3 col-xs-12 header-sub">
                            收款人
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <input type="text" value="" class="form-control" ng-model="main.reg.Payee" required />
                        </div>

                        <div class="col-sm-3 col-xs-12 header-sub">
                            地址
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <select class="form-control" ng-model="main.reg.RegistrationAddress">
                                <option value="zongbu">总部</option>
                                <option value="jinnan">津南</option>
                                <option value="hexi">河西</option>
                            </select>
                        </div>

                        <div class="col-sm-3 col-xs-12 header-sub">
                            备注
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <input type="text" value="" class="form-control" ng-model="main.reg.Note" />
                        </div>

                        <div class="col-sm-3 col-xs-12 header-sub">
                            课程类别
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <select class="form-control"
                                    ng-model="main.courseAssist.category"
                                    ng-options="cc.Description for cc in main.courseAssist.categories"></select>
                        </div>

                        <div class="col-sm-3 col-xs-12 header-sub">
                            所报课程
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <select class="form-control"
                                    ng-options="c.Description for c in main.courseAssist.courses"
                                    ng-model="main.courseAssist.course"></select>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <!--
            //TODO 票号

            CourseCategories(Id, Name, Description)
            Courses(Id, Name, Description, CategoryId)

            学历教育: 所报院校，学历类别
            资格证培训, 所报课程, 中小学辅导:  所在院校， 所在年级

            所在学校
            课程类别
            所报课程
            所在院校
            所报院校
            所在年级
        -->
        <div class="col-sm-6 col-xs-12">

            <div class="panel panel-info" ng-hide="main.courseAssist.category.Category != 'c1'">
                <div class="panel-heading">所报院校</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3 col-xs-12 header-sub">
                            所报院校
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <select class="form-control" ng-model="main.reg.RegistrateCollege">
                                <option ng-repeat="college in main.colleges.choices">{{college}}</option>
                            </select>
                        </div>

                        <div class="col-sm-3 col-xs-12 header-sub">
                            学历类别
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <select class="form-control" ng-model="main.reg.EducationDegree">
                                <option value="zhuanke">专科</option>
                                <option value="benke">本科</option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>

            <div class="panel panel-info" ng-hide="main.courseAssist.category.Category != 'c2'">
                <div class="panel-heading">所在院校</div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-3 col-xs-12 header-sub">
                            所在院校
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <select class="form-control" ng-model="main.reg.CurrentCollege">
                                <option ng-repeat="college in main.colleges.all">{{college}}</option>
                            </select>
                        </div>
                        <div class="col-sm-3 col-xs-12 header-sub">
                            所在年级
                        </div>
                        <div class="col-sm-9 col-xs-12">
                            <select class="form-control" ng-model="main.reg.CurrentGrade">
                                <option value="dayi">大一</option>
                                <option value="daer">大二</option>
                                <option value="dasan">大三</option>
                                <option value="dasi">大四</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <div class="row">
        <div class="col-sm-12">
            <button ng-click="main.submit()" class="btn btn-default" ng-disabled="NewForm.$invalid">Submit</button>
        </div>
    </div>

</form>
