@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    <style type="text/css">
        .new-form { }
        .new-form .col-xs-12 { margin-top: 10px; vertical-align: middle; }
        /*.new-form .col-xs-12:nth-child(odd){text-align: right;}*/
    </style>
}


<div ng-app="Registration">
    <div ng-controller="BodyCtrl">
        <div ng-view></div>
    </div>
</div>


<script>
    var app = angular.module('Registration', ['ngRoute', 'registration.services', 'registration.directives', 'registration.filters']);
    app.config(function ($routeProvider) {
        $routeProvider.when('/', {
            controller: 'NewCtrl',
            templateUrl: '/Partials/Education/new.html'
        }).otherwise({
            redirectTo: '/404'
        });
    });

    app.factory('RegSvc', function ($http) {
        var service = {
            loadColleges: function () {
                var promise = $http({
                    method: 'get',
                    url: '/APIv1/College'
                });
                return promise;
            }
            , add: function (reg) {
                var promise = $http({
                    method: 'put',
                    url: '/APIv1/Registration',
                    data: reg
                });
                return promise;
            }
        };
        return service;
    });
    app.controller('BodyCtrl', function ($scope, AppConstant) {
        $scope.constant = AppConstant;
    });
    app.controller('NewCtrl', function ($scope, $http, $filter, AppConstant, RegSvc) {
        $scope.main = {
            reg: {
                RegistrateDate: $filter('date')(new Date(), AppConstant.ngDateFormat),
                StudentName: '',
                Gender: 'true',
                Phone: '',
                Price: 0,
                CourseType: 'chengkao',
                RegistrationAddress: 'zongbu',
                HomeAddress: '',
                Payee: '',
                CurrentGrade: 'dayi',
                CurrentCollege: '',
                RegistrateCollege: '',
                EducationDegree: 'zhuanke',
                Note: ''
            },
            colleges: {
                choices: [],
                all: []
            }
            , submit: function () {
                console.log(this.reg);
                RegSvc.add(this.reg);
            }
        };


        RegSvc.loadColleges().then(function (rep) {
            angular.forEach(rep.data, function (college) {
                $scope.main.colleges.all.push(college.Name);
                if (college.CanRegistrate) {
                    $scope.main.colleges.choices.push(college.Name);
                }
            });
            $scope.main.reg.CurrentCollege = $scope.main.colleges.all[1];
            $scope.main.reg.RegistrateCollege = $scope.main.colleges.choices[1];
        });
    });
</script>