<style type="text/css">
    .col-xs-12 { margin-top: 8px; }
    .col-xs-12 b:after{content: ':'}
</style>
<div class="row top10 bottom10">
    <div class="col-sm-12">
        <a href="#/" class="btn btn-default">
            <span class="glyphicon glyphicon-home"></span>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-xs-12">

        <div class="panel panel-primary">
            <div class="panel-heading">
                基本信息
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3 col-xs-12"><b>报名日期</b></div>
                    <div class="col-sm-9 col-xs-12">
                        {{main.reg.RegistrateDate | date:constant.ngDateFormat}}
                    </div>

                    <div class="col-sm-3 col-xs-12">
                        <b>姓名</b>
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        {{main.reg.StudentName}}
                    </div>

                    <div class="col-sm-3 col-xs-12">
                        <b>性别</b>
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        {{main.reg.Gender ? '男' : '女'}}
                    </div>

                    <div class="col-sm-3 col-xs-12">
                        <b>电话</b>
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        {{main.reg.Phone}}
                    </div>

                    <div class="col-sm-3 col-xs-12">
                        <b>费用</b>
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        {{main.reg.Price | currency:'￥'}}
                    </div>

                    <div class="col-sm-3 col-xs-12">
                        <b>收款人</b>
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        {{main.reg.Payee}}
                    </div>

                    <div class="col-sm-3 col-xs-12">
                        <b>地址</b>
                    </div>
                    <div class="col-sm-9 col-xs-12 ellipsis" title="{{main.reg.RegistrationAddress}}">
                        {{main.reg.RegistrationAddress}}
                    </div>

                    <div class="col-sm-3 col-xs-12">
                        <b>住址</b>
                    </div>
                    <div class="col-sm-9 col-xs-12 ellipsis" title="{{main.reg.HomeAddress}}">
                        {{main.reg.HomeAddress}}
                    </div>


                    <div class="col-sm-3 col-xs-12">
                        <b>课程类别</b>
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        {{main.reg.CourseType}}
                    </div>

                    <div class="col-sm-3 col-xs-12">
                        <b>备注</b>
                    </div>
                    <div class="col-sm-9 col-xs-12 text-info">
                        {{main.reg.Note}}
                    </div>

                </div>

            </div>
        </div>

    </div>
    <div class="col-sm-6 col-xs-12">

        <div class="panel panel-info">
            <div class="panel-heading">所报院校: </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <b>所报院校</b>
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        {{main.reg.RegistrateCollege}}
                    </div>

                    <div class="col-sm-3 col-xs-12">
                        <b>学历类别</b>
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        {{main.reg.EducationDegree}}
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-info">
            <div class="panel-heading">所在院校</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-3 col-xs-12">
                        <b>所在院校</b>
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        {{main.reg.CurrentCollege}}
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <b>所在年级</b>
                    </div>
                    <div class="col-sm-9 col-xs-12">
                        {{main.reg.CurrentGrade}}
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<div class="row">
    <div class="col-sm-12"></div>
</div>

